.boxed {
    border: 1px solid green;
    width: 40%;
    padding: 1%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    padding: 2%;
}

.paragraph {
    width: 90%;
    padding: 1%;
    border: aliceblue;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}