.boxed {
    border: 1px solid green;
    width: 40%;
    padding: 1%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    padding: 2%;
}

.paragraph {
    width: 90%;
    padding: 1%;
    border: aliceblue;
    justify-content: center;
}

.centered_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.centered_image_auto_width {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered_header_image {
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-bottom: 10px;
}

.empty_grid {
    display: inline-block;
    width: 10%;
    height: 100px;
    /*float: left;*/
    margin: 0;
    text-align: center;
}


@media (min-width: 1200px) {
    .row > .col-lg-5:nth-child(3n+1) {
        clear: left;
    }
}

@media (max-width: 992px) {
    .row > .col-sm-6:nth-child(2n+1) {
        clear: left;
    ()
    }
}

.fermibot_preview_card {
    padding: 5px;
    border: solid #0b2e13;
}